<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="ECharts">
<title>专户规模</title>
<script src="https://cdn.bootcss.com/echarts/3.5.4/echarts.min.js"></script>
</head>
<body>
<div id="chart" style="width: 320px;height:220px;"></div>
<script type="text/javascript">
     var myChart = echarts.init(document.getElementById('chart'));
    //初始化数据
    var category = ['母公司', '子公司'];
    var barData = [666, 1747];
    //配置项
    var option = {
        tooltip: {
            trigger: 'axis',
            axisPointer: { //坐标轴指示器
                type: 'shadow' // cross
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            top: 0,
            containLabel: true //是否包含刻度尺
        },
        xAxis: {
            type: 'value',
            axisLine: {
                show: false
            },
            axisTick: { //是否显示x轴刻度
                show: false
            }
        },
        yAxis: {
            type: 'category',
            data: category,
            splitLine: {show: false}, //是否显示分割线
            axisLine: {
                show: false //是否显示坐标轴轴线
            },
            axisTick: { //是否显示y轴刻度
                show: false
            },
            offset: 10, //标题离y轴距离
            nameTextStyle: {
                fontSize: 20,
            }
        },
        series: [
            {
                name: '规模',
                type: 'bar',
                data: barData,
                barWidth: 30,
                barGap: 10,
                smooth: true,
                label: { // 标识文字
                    normal: {
                        show: true,
                        position: 'inside',
                        offset: [0, -2],
                        textStyle: {
                            color: 'yellow',
                            fontSize: 15
                        }
                    }
                },
                itemStyle: {
                    normal: {
                        barBorderRadius: [7, 7, 0, 0],  //柱状图边角
                        color: new echarts.graphic.LinearGradient( //柱状图渐变
                            0, 0, 1, 0,
                            [
                                {offset: 0, color: '#3977E6'},
                                {offset: 1, color: '#37BBF8'}

                            ]
                        )
                    }
                }
            }
        ]
    };
    myChart.setOption(option);
</script>
</body>
</html>